@using EntityLayer.Concrete
@model List<Blog>
<div>
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Blog Yönetim Sayfası</h4>
                    @*<button class="btn btn-success" style="margin-left:20px;">Yeni Blog Yazısı Ekle</button>*@
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Blog Yönetim Tablosu</h5>
                            <div class="table-responsive">
                                <table id="zero_config"
                                       class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Görsel</th>
                                            <th>Blog Başlık</th>
                                            <th>Blog Ekleme Tarihi</th>
                                            <th>Yazar</th>
                                            <th>DÜZENLE</th>
                                            <th>SİL</th>
                                            <th>DETAYLAR</th>
                                        </tr>
                                    </thead>
                                    @foreach (var x in Model)
                                    {
                        <tbody>
                            <tr>
                                <td>@x.BlogID</td>
                                <td><img src="@x.BlogGorsel" class="img-thumbnail" style="width:200px; height:150px;"></td>
                                <td>@x.BlogBaslik</td>
                                <td>@x.BlogYayinlanmaTarihi</td>
                                <td>@x.BlogYazar</td>
                                <td><a href="/Home/BlogGetir/@x.BlogID" class="btn btn-warning">Düzenle</a></td>
                                <td><a href="/Home/BlogSil/@x.BlogID" class="btn btn-danger">Sil</a></td>
                                <td><a href="#" class="btn btn-default">Detaylar</a></td>
                            </tr>

                        </tbody>
}

                                </table>
                                <a href="/Home/YeniBlog/" class="btn btn-primary">Yeni Blog Yazısı Ekle</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<img src="@x.BlogGorsel" class="img-thumbnail" style="width:200px; height:150px;">*@
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
