@using EntityLayer.Concrete
@model List<Enstruman>
<div>
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Ürünler Sayfası</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Library
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Ürünler Tablosu</h5>
                                <div class="table-responsive">
                                    <table id="zero_config"
                                           class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Enstrüman Adı</th>
                                                <th>Enstrüman Görsel</th>
                                                <th>Enstrüman Türü</th>
                                                <th>Enstrüman Markası</th>
                                                <th>Enstrüman Fiyatı</th>
                                                <th>Öne Çıkan Mı?</th>
                                                <th>Yükleme Tarihi</th>
                                                <th>MarkaID</th>
                                                <th>EnstrumanCesitID</th>
                                                <th>Düzenle</th>
                                                <th>Sil</th>
                                                <th>Detaylar</th>
                                            </tr>
                                        </thead>
                                        @foreach (var x in Model)
                                        {
                                            <tbody>
                                                <tr>
                                                    <td>@x.EnstrumanID</td>
                                                    <td>@x.EnstrumanAdi</td>
                                                    <td>@x.EnstrumanGorsel</td>
                                                    <td>@x.EnstrumanTuru</td>
                                                    <td>@x.EnstrumanMarkasi</td>
                                                    <td>@x.EnstrumanFiyati</td>
                                                    <td>@x.OneCikanMi</td>
                                                    <td>@x.EnstrumanYuklemeTarihi</td>
                                                    <td>@x.MarkaID</td>
                                                    <td>@x.EnstrumanCesitID</td>
                                                    <td><a href="/Home/UrunGetir/@x.EnstrumanID" class="btn btn-warning">Düzenle</a></td>
                                                    <td><a href="/Home/UrunSil/@x.EnstrumanID" class="btn btn-danger">Sil</a></td>
                                                    <td><a href="#" class="btn btn-default">Detaylar</a></td>
                                                </tr>

                                            </tbody>
                                        }
                                    </table>
                                    <a href="/Home/YeniUrun/" class="btn btn-primary">Yeni Ürün Ekle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    
